body {
    font-family: 'LatoRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif !important;
    line-height: 21px;
    color: #636e7b;
    font-size: 14px !important;
}

.body-container {
    width: 1000px;
    margin: 20px auto;
}

.message {
    font-weight: bold;
    font-size: 22px;
}